/* -------------------------------------------------------------------------- */
/*                                   GLOBAL                                   */
/* -------------------------------------------------------------------------- */

// Button
%ast-button {
  @apply bg-primary text-white;
  font-weight: 700;
  padding: .9375em 1.5625em;
  width: 100%;

  &:hover,
  &:focus {
    @apply bg-dark-grey;
  }
}


/* -------------------------------------------------------------------------- */
/*                                   HEADER                                   */
/* -------------------------------------------------------------------------- */

// Menu
.ast-desktop .ast-menu-hover-style-underline>.menu-item:has(.sub-menu) .menu-link:before {
  opacity: 0
}

@media (max-width: 767px) {
  .ast-header-account-link.ast-header-account-type-avatar::after {
    content: 'Mi cuenta';
    margin-inline-start: .625rem;
  }
}

/* Mobile menu */
#ast-hf-mobile-menu li {

  a[href='#']+button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    .ast-icon {
      position: absolute;
      top: 23px;

      svg {
        margin: 0;
      }
    }
  }

  &.ast-submenu-expanded .ast-icon {
    transform: rotate(180deg);
  }

  .sub-menu {

    .menu-link {
      padding-inline-start: 3.125rem;
    }

    .ast-icon.icon-arrow {
      display: none;
    }

  }

}


/* -------------------------------------------------------------------------- */
/*                                  COMPONENTS                                */
/* -------------------------------------------------------------------------- */

// Social Media
.social-list {

  ul {
    @apply flex gap-3;

    li {
      @apply rounded-full h-9 w-9 bg-secondary;

      &:hover {
        @apply bg-primary;
      }

      >a {
        @apply h-full w-full flex items-center justify-center rounded-full;

        &:hover {
          @apply text-white
        }

        i {
          @apply text-lg;
        }
      }
    }
  }

}

// Hero Slider
.hero {

  .elementor-widget-wrap {
    padding: 0 !important;
  }

  .elementor-container,
  .elementor-element,
  .elementor-widget-container,
  .elementor-shortcode {
    @apply h-full;
  }
}

.hero-slide__content {
  padding-inline-start: clamp(2rem, 10vw, 30rem);

  .hero-slide__link {
    text-decoration: none !important;
  }
}

.hero-pagination .swiper-pagination-bullet-active {
  @apply bg-primary;
}

// Featured Product
.featured-product {
  @apply bg-secondary;

  @media (min-width: 768px) {
    background-color: transparent;
    background-image: linear-gradient(90deg, var(--ast-global-color-4) 58%, var(--ast-global-color-5) 58%);
  }
}

// Woocommerce

/* Card categories */
.grid-card-cat>.elementor-widget-wrap {
  display: grid !important;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;

  @media (min-width: 660px) {
    grid-template-columns: repeat(4, 1fr);
  }

  img {
    width: 100%;
  }
}

.card-cat:is(:hover, :focus) .elementor-image-box-content {
  background-color: rgb(0 0 0 / 80%);

  .elementor-image-box-title {
    color: white;
  }
}

.card-cat .elementor-image-box-content {
  background-color: rgb(255 255 255 / 80%);
  height: 3rem;
  position: absolute;
  bottom: 5px;
  left: 0;
  transition: background-color 300ms ease-in-out;

  .elementor-image-box-title {
    font-size: 1.25rem;
    height: 100%;
    margin: 0;
    text-transform: uppercase;

    @media (min-width: 768px) {
      font-size: 1.325rem;
    }

    a {
      display: grid;
      place-items: center;
      height: 100%;
      width: 100%;
      text-decoration: none;
    }
  }
}

/* Catalog */
.woocommerce ul.products li.product a img {
  max-width: 450px;
}

/* Single */
.tns-nav>button:not(.tns-nav-active) {
  background-color: rgb(0 0 0 / 30%);
}

.summary .cart {
  margin-block-start: 3rem;

  .quantity.hidden {
    display: none;
  }
}

.product_description {
  margin-block-start: 2rem;
}

@media (min-width: 922px) {
  .related.products {
    margin-block-start: 3rem;
  }
}

/* Checkout - notice messages */
.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
  border: none
}

/* Checkout - Cart steps */
#ast-checkout-wrap a .ast-step-number {
  font-size: 1em;
}

#billing_country_field {
  display: none !important;
}

/* My account */
.woocommerce-MyAccount-content .woocommerce-message>.woocommerce-Button {
  display: none;
}

@media (max-width: 921px) {
  .woocommerce-MyAccount-navigation ul {
    gap: 20px;

    li {
      @apply bg-secondary;

      a {
        padding-left: .625rem;
      }
    }
  }
}

.ast-orders-table__cell .view {
  @extend %ast-button;

  @media (max-width: 767px) {
    margin-block-end: 1.25rem;
  }
}

.woo-orders-tracking-orders-details {
  flex-direction: column;
  background-color: #00800024;
  padding: 10px;
}

/* Register Form */
.woocommerce form.woocommerce-form-register .form-row-first {
  width: 47%;
}

// Contact

.contact-wrapper {
  @apply bg-secondary;

  @media (min-width: 768px) {
    background-color: transparent;
    background-image: linear-gradient(90deg, var(--e-global-color-astglobalcolor4) 55%, var(--e-global-color-astglobalcolor5) 55%);
  }
}

/* Contact form */
.contact_form {

  input,
  textarea {
    background-color: transparent;
    border-radius: 0;
  }

  textarea {
    padding: 0.75em;
    resize: none;
  }

  .wpforms-submit {
    @extend %ast-button;
  }
}

// Footer
.footer-menu .elementor-nav-menu {
  @media (max-width: 767px) {
    gap: 1.25rem;
  }

  @media (max-width: 576px) {
    flex-direction: column;
  }

}

/* Whatsapp Link */
.footer-wrapper {
  position: relative;
}

.whatsapp-link {
  position: fixed;
  bottom: 0;
  right: 10px;
  z-index: 2;
  display: flex;
  align-items: center;
  gap: .625rem;
  background-color: #4caf51;
  padding: 0.7em 1.5em;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  @media (min-width: 768px) {
    right: 40px;
  }

  img {
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, .25));
  }

  span {
    color: white;
  }
}

/* Preloader */
#flat-preloader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 999999999;
  background: rgb(255 255 255 / 40%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all .2s ease-in;
  opacity: 1;
  visibility: visible;
}

#flat-preloader-overlay.hide {
  opacity: 0;
  visibility: hidden;
}

#flat-preloader-overlay img {
  margin-bottom: 10px;
}

.fpo-default img {
  width: 40px;
  height: auto;
}

#flat-preloader-overlay small {
  display: block;
}

.flat-preloader-active {
  overflow: hidden;
}