/* -------------------------------------------------------------------------- */
/*                                   GLOBAL                                   */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                   HEADER                                   */
/* -------------------------------------------------------------------------- */
.ast-desktop .ast-menu-hover-style-underline > .menu-item:has(.sub-menu) .menu-link:before {
  opacity: 0;
}

/* -------------------------------------------------------------------------- */
/*                                  COMPONENTS                                */
/* -------------------------------------------------------------------------- */
.social-list ul {
  @apply flex gap-3;
}
.social-list ul li {
  @apply rounded-full h-9 w-9 bg-secondary;
}
.social-list ul li:hover {
  @apply bg-primary;
}
.social-list ul li > a {
  @apply h-full w-full flex items-center justify-center rounded-full;
}
.social-list ul li > a:hover {
  @apply text-white;
}
.social-list ul li > a i {
  @apply text-lg;
}

.hero .elementor-widget-wrap {
  padding: 0 !important;
}
.hero .elementor-container,
.hero .elementor-element,
.hero .elementor-widget-container,
.hero .elementor-shortcode {
  @apply h-full;
}

.hero-slide__content {
  padding-inline-start: clamp(2rem, 10vw, 30rem);
}
.hero-slide__content .hero-slide__link {
  text-decoration: none !important;
}

.hero-pagination .swiper-pagination-bullet-active {
  @apply bg-primary;
}

.featured-product {
  background-image: linear-gradient(90deg, var(--ast-global-color-4) 80%, var(--ast-global-color-5) 80%);
}
@media (min-width: 768px) {
  .featured-product {
    background-image: linear-gradient(90deg, var(--ast-global-color-4) 58%, var(--ast-global-color-5) 58%);
  }
}

.wpcf7-form input[type=text],
.wpcf7-form input[type=tel],
.wpcf7-form input[type=email] {
  @apply rounded-lg;
}
.wpcf7-form .wpcf7-not-valid-tip {
  @apply text-sm text-primary font-medium;
}
.wpcf7-form .wpcf7-response-output {
  @apply m-0 text-sm text-white rounded-lg;
  border: none !important;
  margin: 0 !important;
  padding-block: 0.3125rem;
}