/* -------------------------------------------------------------------------- */
/*                                   GLOBAL                                   */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                   HEADER                                   */
/* -------------------------------------------------------------------------- */
.ast-desktop .ast-menu-hover-style-underline > .menu-item:has(.sub-menu) .menu-link:before {
  opacity: 0;
}

@media (max-width: 767px) {
  .ast-header-account-link.ast-header-account-type-avatar::after {
    content: "Mi cuenta";
    margin-inline-start: 0.625rem;
  }
}
/* -------------------------------------------------------------------------- */
/*                                  COMPONENTS                                */
/* -------------------------------------------------------------------------- */
.social-list ul {
  @apply flex gap-3;
}
.social-list ul li {
  @apply rounded-full h-9 w-9 bg-secondary;
}
.social-list ul li:hover {
  @apply bg-primary;
}
.social-list ul li > a {
  @apply h-full w-full flex items-center justify-center rounded-full;
}
.social-list ul li > a:hover {
  @apply text-white;
}
.social-list ul li > a i {
  @apply text-lg;
}

.hero .elementor-widget-wrap {
  padding: 0 !important;
}
.hero .elementor-container,
.hero .elementor-element,
.hero .elementor-widget-container,
.hero .elementor-shortcode {
  @apply h-full;
}

.hero-slide__content {
  padding-inline-start: clamp(2rem, 10vw, 30rem);
}
.hero-slide__content .hero-slide__link {
  text-decoration: none !important;
}

.hero-pagination .swiper-pagination-bullet-active {
  @apply bg-primary;
}

.featured-product {
  background-image: linear-gradient(90deg, var(--ast-global-color-4) 80%, var(--ast-global-color-5) 80%);
}
@media (min-width: 768px) {
  .featured-product {
    background-image: linear-gradient(90deg, var(--ast-global-color-4) 58%, var(--ast-global-color-5) 58%);
  }
}

/* Single */
.summary .cart {
  margin-block-start: 3rem;
}
.summary .cart .quantity.hidden {
  display: none;
}

.product_description {
  margin-block-start: 2rem;
}

@media (min-width: 922px) {
  .related.products {
    margin-block-start: 3rem;
  }
}
/* Checkout - notice messages */
.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
  border: none;
}

/* Checkout - Cart steps */
#ast-checkout-wrap a .ast-step-number {
  font-size: 1em;
}

/* My account */
.woocommerce-MyAccount-content .woocommerce-message > .woocommerce-Button {
  display: none;
}

/* Register Form */
.woocommerce form.woocommerce-form-register .form-row-first {
  width: 47%;
}

.contact-wrapper {
  @apply bg-secondary;
}
@media (min-width: 768px) {
  .contact-wrapper {
    background-color: transparent;
    background-image: linear-gradient(90deg, var(--e-global-color-astglobalcolor4) 55%, var(--e-global-color-astglobalcolor5) 55%);
  }
}

/* Contact form */
.contact_form input,
.contact_form textarea {
  background-color: transparent;
  border-radius: 0;
}
.contact_form textarea {
  padding: 0.75em;
  resize: none;
}
.contact_form .wpforms-submit {
  @apply bg-primary text-white;
  font-weight: 700;
  padding: 0.9375em 1.5625em;
  width: 100%;
}
.contact_form .wpforms-submit:hover, .contact_form .wpforms-submit:focus {
  @apply bg-dark-grey;
}