/* -------------------------------------------------------------------------- */
/*                                   GLOBAL                                   */
/* -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- */
/*                                   HEADER                                   */
/* -------------------------------------------------------------------------- */

// Menu
.ast-desktop .ast-menu-hover-style-underline>.menu-item:has(.sub-menu) .menu-link:before {
  opacity: 0
}


/* -------------------------------------------------------------------------- */
/*                                  COMPONENTS                                */
/* -------------------------------------------------------------------------- */

// Social Media
.social-list {

  ul {
    @apply flex gap-3;

    li {
      @apply rounded-full h-9 w-9 bg-secondary;

      &:hover {
        @apply bg-primary;
      }

      >a {
        @apply h-full w-full flex items-center justify-center rounded-full;

        &:hover {
          @apply text-white
        }

        i {
          @apply text-lg;
        }
      }
    }
  }

}

// Hero Slider
.hero {

  .elementor-widget-wrap {
    padding: 0 !important;
  }

  .elementor-container,
  .elementor-element,
  .elementor-widget-container,
  .elementor-shortcode {
    @apply h-full;
  }
}

.hero-slide__content {
  padding-inline-start: clamp(2rem, 10vw, 30rem);

  .hero-slide__link {
    text-decoration: none !important;
  }
}

.hero-pagination .swiper-pagination-bullet-active {
  @apply bg-primary;
}

// Featured Product
.featured-product {
  background-image: linear-gradient(90deg, var(--ast-global-color-4) 80%, var(--ast-global-color-5) 80%);

  @media (min-width: 768px) {
    background-image: linear-gradient(90deg, var(--ast-global-color-4) 58%, var(--ast-global-color-5) 58%);
  }
}

// Woocommerce

/* Single */
.summary .cart {
  margin-block-start: 3rem;

  .quantity.hidden {
    display: none;
  }
}

.product_description {
  margin-block-start: 2rem;
}

@media (min-width: 922px) {
  .related.products {
    margin-block-start: 3rem;
  }
}

/* Checkout - notice messages */
.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
  border: none
}

/* Checkout - Cart steps */
#ast-checkout-wrap a .ast-step-number {
  font-size: 1em;
}

/* My account */
.woocommerce-MyAccount-content .woocommerce-message>.woocommerce-Button {
  display: none;
}

/* Register Form */
.woocommerce form.woocommerce-form-register .form-row-first {
  width: 47%;
}

// Contact form
.wpcf7-form {

  input[type="text"],
  input[type="tel"],
  input[type="email"] {
    @apply rounded-lg
  }

  // Error message alert
  .wpcf7-not-valid-tip {
    @apply text-sm text-primary font-medium
  }

  .wpcf7-response-output {
    @apply m-0 text-sm text-white rounded-lg;
    border: none !important;
    margin: 0 !important;
    padding-block: .3125rem;
  }
}